<!DOCTYPE html>
<html lang="en">

<body>
    <div class="menu" id="menu">
        <img class="menu_logo" src="..//img/joinlogo2.png">
        <div class="dashboard">
            <a href="summary.html">
                <div class="summary">
                    <img src="..//img/summary.png">
                    <span>Summary</span>
                </div>
            </a>
            <a href="board.html">
                <div class="board">
                    <img src="..//img/board.png">
                    <span>Board</span>
                </div>
            </a>
            <a href="addtask.html">
                <div class="add_task">
                    <img src="..//img/addtask.png">
                    <span>Add Task</span>
                </div>
            </a>
            <a href="contacts.html">
                <div class="contacts">
                    <img src="..//img/contacts.png">
                    <span>Contacts</span>
                </div>
            </a>
        </div>
        <div class="legal">
            <div class="legal_notice">
                <img src="../img/attencion.png">
                <a href="legalnotice.html">Legal notice</a>
            </div>
        </div>
    </div>
</body>

</html>