.addtask_popup_window {
    width: 100vw;
    height: 100vh;
    position: absolute;
    z-index: 10;
    top: 0;
    left: 0;
}

.addtask_popup {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 4;
}

.addtask_popup h1 {
    width: 466px;
    height: 78px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 61px;
    line-height: 120%;
    color: black;
    margin-left: 122px;
    margin-top: 100px;
}

.popup_window_slideout {
    animation: slideout 0.3s;
    animation-delay: 0.3s;
}

@keyframes slideout {
    from {
        transform: translateX(0vw);
    }
    to {
        transform: translateX(100vw);
    }
}

.popup_window_slidein {
    animation: slidein 0.3s;
    animation-fill-mode: forwards;
    animation-delay: 0.3s;
}

@keyframes slidein {
    from {
        transform: translateX(100vw);
    }
    to {
        transform: translateX(0vw);
    }
}

.tasks_popup {
    width: 1116px;
    height: 880px;
    position: absolute;
    background-color: white;
    border-radius: 30px;
}

.tasks_content {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

/* .select_task_popup {
    display: flex;
    flex-direction: column;
    width: 422px;
    height: 51px;
    background-color: white;
    font-size: 21px;
    border: 1px solid #D1D1D1;
    border-radius: 10px;
    overflow: hidden;
} */

/* .task {
    display: flex;
    width: 421px;
    height: 51px;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
} */

/* .task p {
    margin-left: 25px;
    height: 51px;
    margin-top: 28px;
} */

/* .task img {
    margin-right: 13px;
    height: 9px;
    width: 16px;
} */

/* .new_category {
    display: flex;
    width: 421px;
    height: 51px;
    align-items: center;
    cursor: pointer;
} */

/* .new_category p {
    margin-left: 25px;
    height: 51px;
    margin-top: 28px;
}

.new_category:hover {
    background-color: #D1D1D1;
    transition: all 125ms ease-in-out;
} */

/* .sales {
    display: flex;
    width: 421px;
    height: 51px;
    align-items: center;
    cursor: pointer;
}

.sales p {
    margin-left: 25px;
    height: 51px;
    margin-top: 28px;
}

.sales:hover {
    background-color: #D1D1D1;
    transition: all 125ms ease-in-out;
}

.sales img {
    margin-left: 25px;
}

.backoffice {
    display: flex;
    width: 421px;
    height: 51px;
    align-items: center;
    cursor: pointer;
}

.backoffice p {
    margin-left: 25px;
    height: 51px;
    margin-top: 28px;
} */
/* 
.backoffice:hover {
    background-color: #D1D1D1;
    transition: all 125ms ease-in-out;
}

.backoffice img {
    margin-left: 25px;
}

.design {
    display: flex;
    width: 421px;
    height: 51px;
    align-items: center;
    cursor: pointer;
}

.design p {
    margin-left: 25px;
    height: 51px;
    margin-top: 28px;
}

.design:hover {
    background-color: #D1D1D1;
    transition: all 125ms ease-in-out;
}

.design img {
    margin-left: 25px;
}

.marketing {
    display: flex;
    width: 421px;
    height: 51px;
    align-items: center;
    cursor: pointer;
}

.marketing p {
    margin-left: 25px;
    height: 51px;
    margin-top: 28px;
} */

/* .marketing:hover {
    background-color: #D1D1D1;
    transition: all 125ms ease-in-out;
}

.marketing img {
    margin-left: 25px;
}

.media {
    display: flex;
    width: 421px;
    height: 51px;
    align-items: center;
    cursor: pointer;
}

.media p {
    margin-left: 25px;
    height: 51px;
    margin-top: 28px;
}

.media:hover {
    background-color: #D1D1D1;
    transition: all 125ms ease-in-out;
}

.media img {
    margin-left: 25px;
}

.assigned {
    display: flex;
    flex-direction: column;
    width: 422px;
    height: 51px;
    background-color: white;
    font-size: 21px;
    border: 1px solid #D1D1D1;
    border-radius: 10px;
    overflow: hidden;
} */

/* .select {
    display: flex;
    width: 422px;
    height: 51px;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.select p {
    margin-left: 25px;
    height: 51px;
    margin-top: 28px;
}

.select img {
    margin-right: 13px;
    height: 9px;
    width: 16px;
}

.you {
    display: flex;
    width: 422px;
    height: 51px;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.you:hover {
    background-color: #D1D1D1;
    transition: all 125ms ease-in-out;
} */

/* .you p {
    margin-left: 25px;
    height: 51px;
    margin-top: 28px;
}

.you input {
    margin-right: 13px;
    height: 16px;
    width: 16px;
}

.invited_contact {
    display: flex;
    width: 422px;
    height: 51px;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.invited_contact p {
    margin-left: 25px;
    height: 51px;
    margin-top: 28px;
}

.invited_contact input {
    margin-right: 13px;
    height: 16px;
    width: 16px;
}

.invited_contact:hover {
    background-color: #D1D1D1;
    transition: all 125ms ease-in-out;
} */

/* .invite {
    display: flex;
    width: 422px;
    height: 51px;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.invite p {
    margin-left: 25px;
    height: 51px;
    margin-top: 28px;
}

.invite img {
    margin-right: 13px;
    height: 22px;
    width: 22px;
}

.invite:hover {
    background-color: #D1D1D1;
    transition: all 125ms ease-in-out;
}

.height51 {
    height: 51px;
}

.height360 {
    height: 360px;
}

.transition {
    transition: all ease-in-out 225ms;
} */

/* .height210 {
    height: 210px;
}

.close_addtask_popup {
    position: absolute;
    top: 5%;
    right: 5%;
    cursor: pointer;
}

.close_addtask_popup img {
    width: 35px;
} */

@media (max-width: 1350px) {}

@media (max-width: 1200px) {

    .tasks_popup {
        width: 950px;
    }

}

@media (max-width: 992px) {

    .tasks_popup {
        width: 100% !important;
        height: calc(100vh - 160px) !important;
        margin-bottom: 80px;
        margin-top: 80px;
        overflow-y: scroll;
        border-radius: 0;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4) inset;
    }

    .tasks_content {
        flex-direction: column;
        padding: 0 110px;
    }

    .addtask_popup h1 {
        width: unset;
      }

}

@media (max-width: 768px) {}

@media (max-width: 600px) {

    .tasks_content {
        padding: 0 50px;
    }

    .addtask_popup h1 {
        margin-left: 50px !important;
    }

}

@media (max-width: 400px) {

    .addtask_popup h1 {
        font-size: 40px;
    }

    .tasks_popup {
        margin-bottom: 60px; // HIEHIEHIEHEIHEIHEIHIHEIEHIEHIEHEIHEIHEIH
    }

}

@media (max-height: 900px) {

    .tasks_popup {
        height: 780px;
    }

    .margin-top50 {
        margin-top: 0;
      }

}

@media (max-height: 800px) {

    .tasks_popup {
        height: 680px;
    }

    .addtask_popup h1 {
        margin-left: 110px;
        margin-top: 50px;
    }

}

@media (max-width: 450px) {}