.contacts_container {
    position: relative;
    width: 100vw;
    height: 100vh;
    background: #F6F7F8;
}

.contacts {
    width: 100vw;
    height: 100vh;
}

.listning {
    position: absolute;
    top: 89px;
    left: 232px;
    width: 453px;
    height: calc(100vh - 89px);
    background-color: white;
}

.right_side_contacts {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding: 0px;
    gap: 30px;
    position: absolute;
    width: 569px;
    height: 73px;
    left: 743px;
    top: 171px;
}

.right_side_contacts p {
    width: 274px;
    height: 73px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 61px;
    line-height: 120%;
    color: #000000;
    margin: 0px;
}

.right_side_contacts h4 {
    font-size: 25px;
    margin: 0px;
}

.new_contact_button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 18px 10px;
    gap: 10px;
    position: absolute;
    width: 193px;
    height: 53px;
    right: 5%;
    bottom: 5%;
    background: #2A3647;
    border: 1px solid #2A3647;
    border-radius: 10px;
}

.new_contact_button p {
    width: 130px;
    height: 25px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 120%;
    color: #FFFFFF;
    margin: 0px;
}