.dragcard_popup {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 50px;
    gap: 25px;
    isolation: isolate;
    position: relative;
    width: 623px;
    height: 824px;
    background: #FFFFFF;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
    border-radius: 30px;
}

.categorycard {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 4px 36.5px;
    gap: 10px;
    width: 142px;
    height: 40px;
    background: #FC71FF;
    border-radius: 8px;
    flex: none;
    order: 0;
    flex-grow: 0;
    z-index: 0;
}

.categorycard p {
    width: 69px;
    height: 32px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 27px;
    line-height: 120%;
    color: #FFFFFF;
}

.closebutton img {
    position: absolute;
    width: 30px;
    height: 30px;
    right: 34px;
    top: 34px;
    flex: none;
    order: 9;
    flex-grow: 0;
    z-index: 9;
    cursor: pointer;
}

.headerdescription {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 1px;
    width: 523px;
    height: 146px;
}

.headerdescription h1 {
    width: 523px;
    height: 146px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 61px;
    line-height: 120%;
    color: #2A3647;
}

.description_dragcard_pupup {
    width: 518px;
    height: 50px;
}

.description_dragcard_pupup p {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 120%;
    color: #000000;
}

.edit_button_dragcard_popup {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 6px;
    position: absolute;
    width: 57px;
    height: 57px;
    left: 525px;
    top: 737px;
    border-radius: 10px;
    flex: none;
    order: 10;
    flex-grow: 0;
    z-index: 10;
    cursor: pointer;
}

.dragcard_popup_frame_1 {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 25px;
    width: 246px;
    height: 25px;
}

.dragcard_popup_frame_1 h2 {
    width: 99px;
    height: 25px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 21px;
    line-height: 120%;
    color: #000000;
}

.dragcard_popup_frame_1 p {
    width: 122px;
    height: 25px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 120%;
    color: #000000;
}

.dragcard_popup_frame_2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 25px;
    width: 238px;
    height: 33px;
}

.dragcard_popup_frame_2 h2 {
    width: 82px;
    height: 25px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 21px;
    line-height: 120%;
    color: #000000;
}

.dragcard_popup_frame_2 img {
    width: 131px;
    height: 45px;
}

.dragcard_popup_frame_3 h2 {
    width: 134px;
    height: 25px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 21px;
    line-height: 120%;
    color: #000000;
}

.underframe1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 25px;
    width: 450px;
    height: 45px;
}

.underframe1 div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px 8px;
    gap: 10px;
    width: 45px;
    height: 45px;
    background: #9327FF;
    border: 2px solid #FFFFFF;
    border-radius: 58px;
}

.underframe1 h4 {
    width: 22px;
    height: 19px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
    color: #FFFFFF;
    margin: 0;
}

.underframe1 p {
    width: 161px;
    height: 25px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 120%;
    text-align: center;
    color: #000000;
    margin: 0;
}

.task_popup_window_2 {
    position: absolute;
    width: 623px;
    height: 824px;
    left: 725px;
    top: 20px;
    background: #FFFFFF;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
    border-radius: 30px;
}

.task_popup_window_2_title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 0px;
    gap: 5px;
    position: absolute;
    width: 422px;
    height: 81px;
    left: 101px;
    top: 53px;
}

.task_popup_window_2_title h3 {
    width: 65px;
    height: 25px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 120%;
    color: #000000;
}

.task_popup_window_2_title input {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 13px 21px;
    gap: 10px;
    width: 422px;
    height: 51px;
    background: #FFFFFF;
    border: 1px solid #D1D1D1;
    border-radius: 10px;
}

.task_popup_window_2_description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 0px;
    gap: 5px;
    position: absolute;
    width: 422px;
    height: 149px;
    left: 101px;
    top: 154px;
}

.task_popup_window_2_description h3 {
    width: 154px;
    height: 25px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 120%;
    color: #000000;
}

.task_popup_window_2_description textarea {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 18px 21px;
    gap: 10px;
    isolation: isolate;
    width: 422px;
    height: 119px;
    background: #FFFFFF;
    border: 1px solid #D1D1D1;
    border-radius: 10px;
}

.task_popup_window_2_date {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 0px;
    gap: 5px;
    position: absolute;
    width: 422px;
    height: 81px;
    left: 101px;
    top: 333px;
}

.task_popup_window_2_date h3 {
    width: 91px;
    height: 25px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 120%;
    color: #000000;
}

.task_popup_window_2_date input {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 18px 21px;
    gap: 10px;
    isolation: isolate;
    width: 422px;
    height: 51px;
    background: #FFFFFF;
    border: 1px solid #D1D1D1;
    border-radius: 10px;
}

.task_popup_window_2_prio {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 0px;
    gap: 5px;
    position: absolute;
    width: 422px;
    height: 91px;
    left: 101px;
    top: 444px;
}

.task_popup_window_2_prio h3 {
    width: 39px;
    height: 25px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 120%;
    color: #000000;
}

.task_popup_window_2_prio_images {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 10px;
    width: 422px;
    height: 61px;
}

.task_popup_window_2_prio_images img {
    cursor: pointer;
}

.task_popup_window_2_assign {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 0px;
    gap: 5px;
    position: absolute;
    width: 422px;
    height: 159px;
    left: 101px;
    top: 578px;
}

.task_popup_window_2_assign select {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 18px 21px;
    gap: 10px;
    isolation: isolate;
    width: 422px;
    height: 57px;
    background: #FFFFFF;
    border-radius: 10px;
}

.task_popup_window_2_assign h3 {
    width: 118px;
    height: 25px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 120%;
    color: #000000;
}