.help_page {
    width: 100vw;
    height: 100vh;
    position: relative;
    background-color: #f6f7f8;
}

.help_container {
    position: absolute;
    width: 976px;
    height: 411px;
    left: 347px;
    top: 171px;
}

.help_container h1 {
    font-size: 61px;
    font-weight: 700;
    color: #000000;
}

.help_one {
    margin-top: 20px;
    font-size: 27px;
    font-weight: 700;
    color: #000000;
}

.help_one h2 {
    width: 346px;
    height: 32px;
    color: black;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 27px;
    line-height: 120%;
}

.help_one p {
    width: 969px;
    font-weight: 400;
    font-size: 16px;
    color: #000000;
    font-style: normal;
    margin-right: 124px;
}

.menu {
    position: absolute;
    z-index: 3;
}

.arrow_back {
    position: absolute;
    top: 172px;
    right: 128px;
    cursor: pointer;
    z-index: 3;
}

.help_two {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.help_two p {
    font-weight: 400;
    font-size: 16px;
    color: #000000;
    font-style: normal;
    margin-left: 40px;
}

.help_two h2 {
    height: 32px;
    color: black;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 27px;
    line-height: 120%;
}

.first {
    display: flex;
}

.second {
    display: flex;
}

.third {
    display: flex;
}