.legal_notice_page {
    width: 100vw;
    height: 100vh;
    position: relative;
    background-color: #f6f7f8;
}

.legal_container {
    width: 100vw;
    height: 100vh;
}

.legal_container h1 {
    position: absolute;
    top: 171px;
    left: 355px;
    font-size: 61px;
    font-weight: 700;
    color: #000000;
}

.subtitle_one {
    position: absolute;
    top: 292px;
    left: 355px;
    height: 127px;
    font-size: 27px;
    font-weight: 700;
    color: #000000;
}

.subtitle_one p {
    width: 969px;
    font-weight: 400;
    font-size: 16px;
    color: #000000;
    font-style: normal;
    margin-right: 124px;
}

.subtitle_two {
    position: absolute;
    top: 520px;
    left: 355px;
    height: 127px;
    font-size: 27px;
    font-weight: 700;
    color: #000000;
}

.subtitle_two p {
    width: 969px;
    font-weight: 400;
    font-size: 16px;
    color: #000000;
    font-style: normal;
    margin-right: 124px;
}

.menu {
    position: absolute;
    z-index: 3;
}

.arrow_back {
    position: absolute;
    top: 172px;
    right: 128px;
    cursor: pointer;
    z-index: 3;
}