.legal_notice_page {
    position: relative;
    background-color: #f6f7f8;
    padding: 150px 150px 150px 350px;
}

.legal_container h1 {

    font-size: 61px;
    font-weight: 700;
    color: #000000;
    margin-bottom: 50px;
}

.subtitle_one {
    font-size: 27px;
    font-weight: 700;
    color: #000000;
}

.subtitle_one p {
    font-weight: 400;
    font-size: 16px;
    color: #000000;
    font-style: normal;
}

.subtitle_two {
    font-size: 27px;
    font-weight: 700;
    color: #000000;
}

.subtitle_two p {
    font-weight: 400;
    font-size: 16px;
    color: #000000;
    font-style: normal;
}

.arrow_back {
    position: absolute;
    top: 172px;
    right: 128px;
    cursor: pointer;
    z-index: 3;
}

@media (max-width: 992px) {

    .legal_notice_page {
        padding: 150px;
    }

}

@media (max-width: 768px) {

    .legal_notice_page {
        padding: 150px 60px;
    }

    .arrow_back {
        top: 100px;
        right: 50px;
    }

}

@media (max-width: 500px) {

    .legal_container h1 {
        font-size: 36px;
    }

}

@media (max-width: 350px) {

    .legal_container h1 {
        font-size: 26px;
    }

}