body {
    margin: 0;
    background-color: #F6F7F8 !important;
    font-family: 'Inter', sans-serif!important;
}

.start_logo img {
    position: absolute;
    z-index: 10;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    height: 300;
    animation: moveToCorner 1s;
    animation-fill-mode: forwards;
    animation-delay: 0.3s;
}

.login_section {
    display: flex;
    width: 100vw;
    height: 100vh;
    flex-direction: column;
    padding: 48px;
}

.header {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    animation: fadeIn 1.7s;
}

.header img {
    width: 100px;
}

.registry {
    background: none;
    border: none;
    margin-right: 24px;  
}

.registry:hover {
    scale: 1.05;
    transition: all 75ms ease-in-out;
}

.sign_up {
    font-size: 16px;
    font-weight: 700;
    border-radius: 8px;
    background-color: #2A3647;
    border: none;
    color: white;
    padding: 16px;
}

.sign_up:hover {
    background-color: #29ABE2;
    transition: all 75ms ease-in-out;
    box-shadow: 4px 4px 0px 0px rgba(0, 0, 0, 0.3);
}

.login_window {
    background-color: white;
    width: 652px;
    height: 513px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.3);
    border-radius: 30px;
    transform: translate(-50%, -50%);
    animation: fadeIn 1.7s;
}

.login_window h1 {
    margin-top: 24px;
    font-weight: 700;
    font-size: 61px;
}

.signup_window {
    background-color: white;
    width: 652px;
    height: 559px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.3);
    border-radius: 30px;
    transform: translate(-50%, -50%);
    animation: fadeIn 1.7s;
}

.signup_window h1 {
    margin-top: 24px;
    font-weight: 700;
    font-size: 61px;
}

.forgot_window {
    background-color: white;
    width: 826px;
    height: 462px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.3);
    border-radius: 30px;
    transform: translate(-50%, -50%);
    animation: fadeIn 1.7s;
}

.forgot_window h1 {
    margin-top: 24px;
    font-weight: 700;
    font-size: 61px;
}

.reset_window {
    background-color: white;
    width: 826px;
    height: 537px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.3);
    border-radius: 30px;
    transform: translate(-50%, -50%);
    animation: fadeIn 1.7s;
}

.reset_window h1 {
    margin-top: 24px;
    font-weight: 700;
    font-size: 61px;
}

.login_input {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input_fields {
    display: flex;
    flex-direction: column;
}

.input_email {
    height: 51px;
    border: 1px solid black;
    margin-top: 59px;
    width: 422px;
    height: 51px;
    padding: 13px 21px 13px 21px;
    color: #D1D1D1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 10px;
}

.input_email input {
    width: 422px;
    outline: none;
    font-size: 21px;
}

.input_email img {
    height: 18px;
}

.input_email input {
    border: none;
}

.input_password, .input_confirm_password {
    height: 51px;
    border: 1px solid black;
    margin-top: 59px;
    width: 422px;
    height: 51px;
    padding: 13px 21px 13px 21px;
    color: #D1D1D1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 10px;
}

.input_password input, .input_confirm_password input {
    width: 422px;
    outline: none;
    font-size: 21px;
    border: none;
}

.input_name {
    height: 51px;
    border: 1px solid black;
    margin-top: 59px;
    width: 422px;
    height: 51px;
    padding: 13px 21px 13px 21px;
    color: #D1D1D1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 10px;
}

.input_name input {
    width: 422px;
    outline: none;
    font-size: 21px;
    border: none;
}

.checkbox {
    width: 335px;
    display: flex;
    justify-content: space-between;
    margin: 30px 0px 30px 0px;
}

.checkbox span {
    width: 154px;
    height: 19px;
}

.forgot_password_link {
    text-decoration: none;
}

.forgot_password {
    color: #29ABE2;
    cursor: pointer;
}

.login_buttons {
    width: 335px;
    display: flex;
    justify-content: space-between;
}

.login_button {
    width: 145px;
    font-weight: 700;
    height: 51px;
    border-radius: 8px;
    padding: 4px 0px 4px 0px;
    background-color: #2A3647;
    color: white;
    font-size: 25px;
}

.signup_container, .continue_container {
    font-weight: 700;
    width: 264px;
    height: 51px;
    border-radius: 8px;
    background-color: #2A3647;
    color: white;
    font-size: 25px;
    display: flex;
    justify-content: center;
    margin: 36px;
}

.signup_button, .forgot_button, .continue_button {
    width: 264px;
    font-weight: 700;
    height: 51px;
    border-radius: 8px;
    padding: 4px 0px 4px 0px;
    background-color: #2A3647;
    color: white;
    font-size: 25px;
}

.signup_button:hover, .forgot_button:hover, .continue_button:hover{
    background-color: #29ABE2;
    transition: all 75ms ease-in-out;
    box-shadow: 4px 4px 0px 0px rgba(0, 0, 0, 0.3);
}

.forgot_button {
    width: 264px;
}

.guest_login_button {
    height: 51px;
    font-weight: 700;
    border-radius: 8px;
    padding: 4px 13px 4px 13px;
    font-size: 25px;
    color: #2A3647;
    background-color: white;
    border: 2px solid #2A3647;
}

.go_back_to_login {
    position: absolute;
    left: 24px;
    top: 24px;
    cursor: pointer;
}

.go_back_to_login a img {
    height: 24px;
}

.go_back_to_login a img:hover {
    transform: scale(1.1);
    transition: all 75ms ease-in-out;
}

.no_panic {
    text-align: center;
    margin-top: 36px;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    top {
        opacity: 1;
    }
}

@keyframes moveToCorner {
    from {
        transform: translate(-50%, -50%);
        top: 50%;
        left: 50%;
        min-height: 300;
    }
    
    to {
        transform: translate(-50%, -50%);
        top: 48px;
        left: 48px;
        transform: scale(0.33);
        transform-origin: 0 0;
    }
}